* {
    font-family: 'Roboto', sans-serif;
    position: relative;
    margin: 0;
}
#wrapper {
    position: relative;
}
ul {  
    list-style-type: none;  margin: 0;  padding: 0;
    font-size: 100%;
    vertical-align: baseline;
}
#header {
    background: linear-gradient(#43cea2,#185a9d);
}    
.text-header {
    margin:auto auto;
}
.flex {
    display :flex;
    justify-content: space-between;
}
.img-logo{
    width:150px;
}
li {
    list-style-type: none;
    text-decoration: none;
}
#container {
    justify-content: space-between;
}
/* NAVBAR */
.main-menu {
    border-top: 1px solid white;
    background-color:#185a9d ;
}
.navbar-item {
    padding:5px;
    border: 1px solid;
    margin: 5px 5px 5px 10px;
    border-radius: 3px;
    background-color: white;
    position: relative;
    z-index:2 ;
}
.navbar-item:hover{
    opacity: inherit;
    background: lightgray;
}
/* NAVBAR_1 */
.navbar1 {
  width: 250px;
  background: #185a9d;
  padding: 0 25px;
  display: flex;
  align-items: center;
}

.navbar1 ul li {
    background: #313142;
    margin-bottom: 25px;
    border-radius: 3px;
    padding: 12px 25px;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    width: 300px;
    letter-spacing: 2px;
    transition: all 0.4s ease;
    cursor: pointer;
  }
.navbar1 ul li a {
    color: #ececf5;
    position: relative;
  }
.navbar1  ul li:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background: #71cae0;
    background: linear-gradient(
      126deg,
      rgba(2, 0, 36, 1) 0%,
      rgb(69, 211, 230) 0%,
      rgb(54, 206, 173) 100%
    );
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transition: all 0.4s ease;
 }
.navbar1  ul li.active {
    width: 250px;
}
.navbar1 ul li.active a {
    color: #fff;
}

.navbar ul li.active:before {
    width: 100%;
    transition: all 0.2s ease;
}
.navbar1 ul li:last-child {
    margin-bottom: 0;
    border-bottom: 1px solid rgb(116, 175, 243) ;
  }

/* Thông báo */
.notify {
    position:absolute;
    width:600px;
    right:9%;
    top:50px;
    background: white;
    box-sizing: border-box;
    border: 1px solid #D3D3D3;
    border-radius: 2px;
    display:none;
}
.notify::before {
    content:"";
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent rgb(211, 211, 211) transparent;
    position: absolute;
    right:12px;
    top: -40px; 
}
.notify::after {
    content:"";
    display:block;
    position: absolute;
    right:0;
    top:-20px;
    width:200px;
    height:25px;
    background-color: transparent;
}
.notify__h4 {
    height: 30px;
    padding-left: 20px;
}
.notify__h4 h4 {
    color:#666;
    margin: 0 0 0 0;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 40px;
    background-color: white;
}
.navbar-item:hover .notify{
    display:block;
    z-index: 3;
}
.notify-item:hover {
background-color: #f1eeee;
}
.notify-link {
    display:flex;
}
.notify-img {
    width:50px;
    object-fit: contain;

}
.notify-list {
    background: -moz-linear-gradient(pink, rgb(238, 85, 136));
    padding-left:1rem;
}
.notify-ifno{
    width:100%;
     margin:5px 12px;
}
.notify-name{
    display:block;
    font-size: 0.88rem;
    font-weight: 400;
    color:black;
}
.notify-decrition{
    display:block;
    font-size: 1rem;
    color:black;
    line-height: 1.0rem;
}
.notify-item--viewed {
    background-color: rgba(238,75,43,0.08);
}
.notify-footer{
      text-align: center;
}
.notify-footer-btn {
     text-decoration: none;
     /* padding:4px 16px; */
}
/* MENU */
.main-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-menu li a{
    color: #141414;
    display: flex;
    padding: 2px;
    text-decoration: none;
    border-bottom: 1px solid white;
}
.main-menu li {
    position: relative;
}
.main-menu ul.sub-menu {
    position: absolute;
    padding: 15px 0px;
    width:300px;
    display: none;

}
.main-menu ul.sub-menu a{
    padding: 8px 15px;
    border-bottom:1px solid rgb(35, 54, 75) ;
}
.main-menu ul.sub-menu li:hover a{
    border-bottom:1px solid rgb(203, 223, 248) ;

}
.sub-menu {
    margin-top: 35px;
    border-radius: 5px;
    background: linear-gradient(#43cea2,#185a9d);    display: block;
}
.navbar-item:hover .sub-menu{
    display: block;
}
.sub-menu::after {
    content:"";
    display:block;
    position: absolute;
    top:-30px;
    width:200px;
    height:35px;
    background-color: transparent;
}
.contain-left {
    width:70%;
}
.header-h2 {
    text-align: center;
}
/* FOOTER */
#footer {
    background: #020207;
    color:white;
    padding : 10px 40px;
    display:flex;
    justify-content: space-around;

}
.item-coso {
    padding: 5px;
}
.item-lienhe {
    padding:5px;
}
.container-form {
    position: relative;
    overflow: hidden;
}
.form-items {
    padding: 0 3px;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.7;
    border-bottom: 1px solid black;
}
.form-item {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    color: #333;
    font-family: "Open Sans", sans-serif;
  }
  h3 {
    color:#185a9d;
  }
  .main {
    background: #f1f1f1;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    border-radius: 3px;
  }
  .form {
    width: 360px;
    min-height: 10px;
    padding: 32px 24px;
    text-align: center;
    background: #fff;
    border-radius: 2px;
    margin: 24px;
    align-self: center;
  }
  .form .heading {
    font-size: 1.3rem;
  }
  .form .desc {
    text-align: center;
    color: #636d77;
    font-size: 1.2rem;
    font-weight: lighter;
    line-height: 0.5rem;
    margin-top: 16px;
    font-weight: 300;
  }
  
  .form-group {
    display: flex;
    margin-bottom: 16px;
    flex-direction: column;
  }
  
  .form-label,
  .form-message {
    text-align: left;
  }
  
  .form-label {
    font-weight: 700;
    padding-bottom: 6px;
    line-height: 0.7rem;
    font-size: 1rem;
  }
  
  .form-control {
    height: 30px;
    padding: 8px 12px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    outline: none;
    font-size: 1rem;
  }
  
  .form-control:hover {
    border-color: #1dbfaf;
  }
  
  .form-group.invalid .form-control {
    border-color: #f33a58;
  }
  
  .form-group.invalid .form-message {
    color: #f33a58;
  }
  
  .form-message {
   
    line-height: 1rem;
    padding: 4px 0 0;
  }
  
  #form-submit {
    outline: none;
    background :linear-gradient(#43cea2,#185a9d);
    margin-top: 12px;
    padding: 12px 16px;
    font-weight: 600;
    color: #fff;
    border: none;
    width: 100%;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  #form-submit:hover {
    background-color: #1ac7b6;
  }
  
  .spacer {
    margin-top: 36px;
  }
  .backtop{
    width:50px;
    height:50px;
    background: #43cea2;
    color: #185a9d;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    font-size:30px ;
    bottom: 60px;
    right:20px;
    z-index: 15;
    opacity: 0;
    /* pointer-events: none; */
    transform: all .4s;
}
.backtop.relize {
    bottom: 60px;
    /* pointer-events: auto; */
    cursor: pointer;
    opacity: 1;
}
  /* CONTAINER2 */
  .container2 {
    justify-content: space-around;
  }
  .list-student {
    width: 880px;
    border: 1px solid #ccc;
    margin: 25px;
    padding:10px;
}
.list-student h3 {
    margin :10px;
    padding:0px;
}
.list-student table {
    border :2px solid rgb(0, 0, 0);
}
.list-student > h2 {
   color:#185a9d;
   padding : 20px;
   text-align: center;
}
#grid-student {
    text-align: center;
}
#update {
    display: none;
    outline: none;
    background :linear-gradient(#43cea2,#185a9d);
    margin-top: 12px;
    padding: 12px 16px;
    font-weight: 600;
    color: #fff;
    border: none;
    width: 100%;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
}
@media screen and (max-width: 768px){
    .notify {
       width:525px;
    }
    #container{
        display: block;
        padding:10px;
    }
    #container1{
        width:100%;
        margin: 10px;
        padding: 0px;
    }
    #container2{
        width:50%;
    }
    
}
@media screen and (max-width: 560px){
     #container{
        display: block;

        margin: 0;
        padding: 0;
    }
    .navbar-item{
        display:inline-block;
        white-space: nowrap;
        text-overflow:ellipsis;
        overflow: hidden;
    }
    .product-item {
        max-height: 150px;
        font-size: 12px;
        
        overflow: hidden;
         word-break: break-word;
         text-decoration: none;
    }
    .product-text {
        padding:10px;
    }
    
    .main-menu ul.sub-menu {
    padding: 0px 0px;
    width:300px;
    display: block;
    }
    
    #container2{
        position: relative;
    }
}